<%= "Piedad: #{@totales[:piedad]}" %><br/>
<%= "Jojoy: #{@totales[:reyes]}" %><br/>
<%= "Reyes: #{@totales[:jojoy]}" %><br/>

<table id="resultados">
  <tr>
    <th class="nobg"><%= @country.name.capitalize %></th>
    <th>Departamento</th>
    <th>Ciudad</th>
    <th>Centro</th>
    <th>Jojoy</th>
    <th>Reyes</th>
    <th>Piedad</th>
  </tr>
  <% alt = false %>
  <% @country.states.each do |s| %>
    <% s.cities.each do |c| %>
      <% c.centers.each do |center| %>
        <% center.tables.each do |t| %>
          <tr>	  
	    <td></td>
	    <% if alt %><td class="alt"><% else %><td><% end %><%= s.name.capitalize %></td>
	    <% if alt %><td class="alt"><% else %><td><% end %><%= c.name.capitalize %></td>
	    <% if alt %><td class="alt"><% else %><td><% end %><%= center.name.capitalize %></td>
	    <% if alt %><td class="alt"><% else %><td><% end %><%= t.votos["jojoy"] %></td>
	    <% if alt %><td class="alt"><% else %><td><% end %><%= t.votos["reyes"] %></td>
	    <% if alt %><td class="alt"><% else %><td><% end %><%= t.votos["piedad"] %></td>
	  </tr>
	  <% alt = !alt %>
	<% end %>
      <% end %>
    <% end %>
  <% end %>
</table>

